body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 400px;
    background-color: white;
    border-radius: 7px;
}


.producto img {
    width: 100%; 
    height: 100px;
    object-fit: contain; 
    border-radius: 8px;
    border: 1px solid #ccc;
}


.producto h3 {
    margin: 0;
}

.producto p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 700;
}

.disponible {
    text-align: center;
    padding-top: 10px;
    color: rgb(2, 136, 2);
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    border-radius: 8px;
    background-color: hsl(120, 100%, 80%);
}


input[type="submit"] {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

input[type="submit"]:hover {
    background-color: #006080;
}

span{
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    font-size: 18px;
    
}
.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.activate-button{
    background-color: #00ba19;
    border: none;
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}
.activate-button:hover{
    background-color: #1b7c02;
}
.desactivar-boton{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 7px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    transition: ease-in-out 0.3s;
}

a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
}
.regresar-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.totNoActivos{
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 51, 51);
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    border-radius: 8px;
    background-color: hsl(0, 100%, 80%);
    font-size: 18px;
}

.noActivosSection{
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;

}


.form-buscar{
    margin-left: 10px;
}

.buscarProducto { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buscarProducto input[type="text"] { 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buscarProducto input[type="submit"] { 
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.buscarProducto input[type="submit"]:hover { 
    background-color: #0056b3;
}

select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.filtroProductos{
    padding-left: 20px;
}