body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  .error-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2)
  }
  
  .error-mensaje {
    border-radius: 7px;
    padding: 7px;
    background-color: rgb(250, 205, 205);
    text-align: center;
    color: red;
    font-size: 22px;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 19px;
  }
  
  a {
      border-radius: 7px;
      padding: 7px;
      font-weight: 600;
      font-size: 20px;
      text-decoration: none;
      color: #0e7ef5;
      font-size: 16px;
      font-weight: 600;
      transition: ease-in-out 0.3s;
  }
  
  a:hover {
    background-color: #0e7ef5;
    color: #fff;
  }
  