body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.estadistica {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.estadistica h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 16px;
    margin: 5px 0;
}

.regresarAdmin {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.regresarAdmin:hover {
    background-color: #0056b3;
}
