body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.btnRegresar {
    background: hsl(0, 95%, 59%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

.btnRegresar:hover {
    background-color: hsl(0, 95%, 29%);
}

.btnContent {
    display: flex;
    justify-content: flex-end;
}

.historialTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.historialTable th, .historialTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.historialTable th {
    background-color: #f2f2f2;
}


input[type="date"]{
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="submit"]{
    background: hsl(229, 95%, 62%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

input[type="submit"]:hover{
    background-color: hsl(229, 95%, 29%);
}